.image {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: flex;
}

.base-image-instance-1 {
  height: 100%;
  flex-basis: 99%;
}
